<div class="content">
  <h3>Нормативно-правова база</h3>
  <hr />
  <p>
    <a href="http://osvita.ua/legislation/law/2231/"
      >Закон України "Про освіту"</a
    >
  </p>
  <p>
    <a href="http://osvita.ua/legislation/law/2234/"
      >Закон України "Про дошкільну освіту"</a
    >
  </p>
  <p><a>Закон України "Про охорону дитинства"</a></p>
  <p>
    <a href="https://zakon.rada.gov.ua/laws/show/1645-14#o146">
      Закон України "Про захист населення від інфекційних хвороб" (ст. 15, ч. 2)
    </a>
  </p>
  <p>
    <a href="http://osvita.ua/legislation/doshkilna-osvita/2740/">
      Постанова про затвердження Положення про дошкільний навчальний заклад
    </a>
  </p>
  <p>
    <a href="https://zakon.rada.gov.ua/laws/show/z0523-06#Text">
      Наказ про затвердження Інструкції з організації харчування дітей у
      дошкільних навчальних закладах
    </a>
  </p>
  <p>
    <a href="https://zakon.rada.gov.ua/laws/show/z0563-16#Text"
      >Санітарний регламент для дошкільних навчальних закладів</a
    >
  </p>
  <p>
    <a href="https://zakon.rada.gov.ua/laws/show/995_021#Text"
      >Конвенція про права дитини
    </a>
  </p>
</div>
