$action: #2664d3;
$disabled: #93b2e9;
$hover: #dceeff;
$danger: #cf1717;
$success: #4ba957;

$light-bg: #fff;

$selected: #ff0000;
$not-selected: #7e7e7e;

$dark-grey: #ababab;
$light-grey: #c1c1c1;
$lightest-grey: #ccccd4;

$input-border: #c5c5ce;
$placeholder-text: #5a5a61;
$sub-information: #65656d;

$primary-darkest-text: #000;
$primary-dark-text: #323237;
$primary-light-text: #fff;
$hint-text: #b2bfcf;
$menu-text: #727070;

$in-progress-text: #3ca953;
$in-progress-bg: rgba(#57c165, 25%);
$timer-text: #575762;
$timer-bg: rgba(#8d8d9533, 20%);
