<div>
  <h3>Контактна інформація</h3>
  <hr />
  <div *ngFor="let contact of contacts">
    <input
      type="text"
      class="name"
      (change)="onNameChangeEvent($event, contact)"
      [value]="contact.name"
    /><br />
    <input
      type="text"
      (change)="onValueChangeEvent($event, contact)"
      [value]="contact.value"
    /><br />
    <button class="remove" (click)="remove(contact)">Видалити</button>
    <br />
  </div>
  <br />
  <button class="add" (click)="add()">Додати</button>
</div>
