<div class="content">
  <h3>Інформаційна відкритість</h3>
  <hr />
  <ul>
    <li><a>Cтатут ЗДО №70</a></li>
    <li><a>Ліцензія на провадження освітньої діяльності</a></li>
    <li><a>Структура управління закладом освіти</a></li>
    <li><a>Мова освітнього процесу - українська</a></li>
    <li><a>Освітні програми, за якими працює заклад</a></li>
    <li><a>Правила прийому до закладу</a></li>
    <li><a>Річний звіт про діяльність</a></li>
    <li><a>Розмір плати за харчування здобувачів освіти</a></li>
    <li>
      <a
        >Умови досутпності закладу для дітей з особливими освітніми потребами</a
      >
    </li>
    <li><a>Додаткові освітні послуги</a></li>
    <li><a>Наявність вакантних посад у закладі</a></li>
    <li><a>Кількість та якісні показники кадрового забезпечення</a></li>
    <li><a>Моніторинг якості освіти</a></li>
    <li><a>Матеріально-технічне забезпечення та оснащення</a></li>
    <li><a>Проектна потужність закладу</a></li>
    <li><a>Фінансовий звіт</a></li>
  </ul>
</div>
