<div>
  <h3>Контактна інформація</h3>
  <hr />
  <p *ngFor="let contact of contacts">
    <span>{{ contact.name }}</span> {{ contact.value }}
  </p>
</div>
<div>
  <h3>Контактна інформація</h3>
  <hr />
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2134.3456213222908!2d33.41625024994647!3d49.09512829715858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d752f6330aafc3%3A0xbd2c3d80fe14cc09!2z0JTQvtGI0LrRltC70YzQvdC40Lkg0L3QsNCy0YfQsNC70YzQvdC40Lkg0LfQsNC60LvQsNC0INC60L7QvNCx0ZbQvdC-0LLQsNC90L7Qs9C-INGC0LjQv9GDIOKEliA3MA!5e0!3m2!1suk!2sua!4v1654432588476!5m2!1suk!2sua"
    width="100%"
    height="350px"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
