.content {
  margin: 20px 0px;
  color: rgb(111, 2, 158);

  .img-1 {
    background: url("../../../../assets/images/anti-bullying-1.jpg");
    height: 1000px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
  }

  .img-2 {
    background: url("../../../../assets/images/anti-bullying-2.jpg");
    height: 580px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
  }

  .img-3 {
    background: url("../../../../assets/images/anti-bullying-3.jpg");
    height: 640px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
  }
}
