<div class="content">
  <h3>Наш колектив</h3>
  <hr />
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-1"></div>
        <div class="card-body">
          <h5 class="card-title">Сороколат Надія Генадіївна</h5>
          <p class="card-text">Директор</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-2"></div>
        <div class="card-body">
          <h5 class="card-title">Голубова Олеся Вікторівна</h5>
          <p class="card-text">Музичний керівник</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-3"></div>
        <div class="card-body">
          <h5 class="card-title">Іщенко Ірина Олександрівна</h5>
          <p class="card-text">Вихователь</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-4"></div>
        <div class="card-body">
          <h5 class="card-title">Ланщакова Олена Олександрівна</h5>
          <p class="card-text">Вихователь- методист</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-5"></div>
        <div class="card-body">
          <h5 class="card-title">Зарицька Тетяна Григорівна</h5>
          <p class="card-text">Вихователь</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-6"></div>
        <div class="card-body">
          <h5 class="card-title">Карпова Олександра Володимирівна</h5>
          <p class="card-text">Вчитель-логопед</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-7"></div>
        <div class="card-body">
          <h5 class="card-title">Ковтун Світлана Михайлівна</h5>
          <p class="card-text">Помічник вихователя</p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-8"></div>
        <div class="card-body">
          <h5 class="card-title">Сопко Оксана Іванівна</h5>
          <p class="card-text">Сестра медична старша</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-9"></div>
        <div class="card-body">
          <h5 class="card-title">Приліпко Людмила Василівна</h5>
          <p class="card-text">Вихователь</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-10"></div>
        <div class="card-body">
          <h5 class="card-title">Шварц Аліна Павлівна</h5>
          <p class="card-text">Вихователь</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-11"></div>
        <div class="card-body">
          <h5 class="card-title">Якимець Наталя Михайлівна</h5>
          <p class="card-text">Вихователь</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-12"></div>
        <div class="card-body">
          <h5 class="card-title">Ободзінська Тетяна Григорівна</h5>
          <p class="card-text">Вихователь</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-13"></div>
        <div class="card-body">
          <h5 class="card-title">Павлова Галина Йосипівна</h5>
          <p class="card-text">Музичний керівник</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-14"></div>
        <div class="card-body">
          <h5 class="card-title">Тарасюк Наталя Михайлівна</h5>
          <p class="card-text">Вихователь</p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-15"></div>
        <div class="card-body">
          <h5 class="card-title">Кузуб Світлана Вікторівна</h5>
          <p class="card-text">Помічник вихователя</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-16"></div>
        <div class="card-body">
          <h5 class="card-title">Дедюрова Юлія Олександрівна</h5>
          <p class="card-text">Сестра медична старша</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-17"></div>
        <div class="card-body">
          <h5 class="card-title">Селезньова Ірина Миколаївна</h5>
          <p class="card-text">Завідуюча господарства</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-18"></div>
        <div class="card-body">
          <h5 class="card-title">Мельник Олена Юріївна</h5>
          <p class="card-text">Вихователь</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-19"></div>
        <div class="card-body">
          <h5 class="card-title">Андрощук Лариса Олексіївна</h5>
          <p class="card-text">Помічник вихователя</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-20"></div>
        <div class="card-body">
          <h5 class="card-title">Шаповал Валентина Володимирівна</h5>
          <p class="card-text">Сторож-двірник</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-21"></div>
        <div class="card-body">
          <h5 class="card-title">Ляшенко Валентина Василівна</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-22"></div>
        <div class="card-body">
          <h5 class="card-title">Максимович Галина Василівна</h5>
          <p class="card-text">Вихователь</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-23"></div>
        <div class="card-body">
          <h5 class="card-title">Журавель Наталя Василівна</h5>
          <p class="card-text">Інструктор з фізичної культури</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-24"></div>
        <div class="card-body">
          <h5 class="card-title">Крамаренко Світлана Михайлівна</h5>
          <p class="card-text">Помічник вихователя</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-25"></div>
        <div class="card-body">
          <h5 class="card-title">Тарасюк Наталія Михайлівна</h5>
          <p class="card-text">Вихователь</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-26"></div>
        <div class="card-body">
          <h5 class="card-title">Шингарій Юлія Анатоліївна</h5>
          <p class="card-text">Вихователь</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-27"></div>
        <div class="card-body">
          <h5 class="card-title">Колосовська Яна Вікторівна</h5>
          <p class="card-text">Вихователь</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-28"></div>
        <div class="card-body">
          <h5 class="card-title">Степаненко Лювов Василівна</h5>
          <p class="card-text">Вихователь спеціальної групи</p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-29"></div>
        <div class="card-body">
          <h5 class="card-title">Солод Любов Іванівна</h5>
          <p class="card-text">Вчитель - дефектолог</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-30"></div>
        <div class="card-body">
          <h5 class="card-title">Реброва Оксана Василівна</h5>
          <p class="card-text">Вихователь</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-31"></div>
        <div class="card-body">
          <h5 class="card-title">Олефір Валентина Вікторівна</h5>
          <p class="card-text">Вихователь</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-32"></div>
        <div class="card-body">
          <h5 class="card-title">Матюха Леся Вікторівна</h5>
          <p class="card-text">Вихователь</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-33"></div>
        <div class="card-body">
          <h5 class="card-title">Коритова Валентина Іванівна</h5>
          <p class="card-text">Вихователь</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-34"></div>
        <div class="card-body">
          <h5 class="card-title">Єрофеєва Любов Григорівна</h5>
          <p class="card-text">Вихователь спеціальної групи</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-35"></div>
        <div class="card-body">
          <h5 class="card-title">Волошина Ірина Юріївна</h5>
          <p class="card-text">Вихователь</p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-36"></div>
        <div class="card-body">
          <h5 class="card-title">Соломаха Анатолій Михайлович</h5>
          <p class="card-text">Сторож-двірник</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-37"></div>
        <div class="card-body">
          <h5 class="card-title">Репецька Варвара Григорівна</h5>
          <p class="card-text">Сторож-двірник</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-38"></div>
        <div class="card-body">
          <h5 class="card-title">Шингарій Яна Сергіївна</h5>
          <p class="card-text">Вихователь</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-38"></div>
        <div class="card-body">
          <h5 class="card-title">Шингарій Яна Сергіївна</h5>
          <p class="card-text">Кухонний працівник</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-39"></div>
        <div class="card-body">
          <h5 class="card-title">Медуха Світлана Володимирівн</h5>
          <p class="card-text">Кухар</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-40"></div>
        <div class="card-body">
          <h5 class="card-title">Кубрак Любов Федорівна</h5>
          <p class="card-text">
            Помічник вихователя для дітей віком від 3 років
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-41"></div>
        <div class="card-body">
          <h5 class="card-title">Курченко Оксана Миколаївна</h5>
          <p class="card-text">Кухар</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top profile-42"></div>
        <div class="card-body">
          <h5 class="card-title">Дубкова Ольга Володимирівна</h5>
          <p class="card-text">Прибиральник службових приміщень</p>
        </div>
      </div>
    </div>
  </div>
</div>
