.content {
  margin: 20px 0px;
  font-family: "Suplexmentary_Comic_NC";
  color: rgb(111, 2, 158);

  .collective-label:hover {
    color: rgb(81, 7, 110);
  }

  .left-arrow {
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url("../../../../assets/images/left-arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .right-arrow {
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url("../../../../assets/images/right-arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .left-arrow:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .right-arrow:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .left-arrow.disable:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .right-arrow.disable:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .disable {
    background-image: none;
  }

  .paggination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    button {
      padding: 5px 10px;
      background-color: aqua;
      border-radius: 10px;
    }

    button:hover {
      background-color: rgb(111, 2, 158);
      color: aqua;
    }

    button.selected {
      background-color: rgb(111, 2, 158);
      color: aqua;
    }
  }
}
