<div class="content">
  <!-- <app-collective-home></app-collective-home> -->
  <!-- <app-contacts></app-contacts> -->
  <div class="img1"></div>
  <p class="header1">
    Кременчуцький заклад дошкільної освіти (ясла-садок) комбінованого типу № 70
    Кременчуцької міської ради Кременчуцького району Полтавської області
  </p>
  <div style="width: 100%">
    <div class="img2">
      <p class="header2">
        Вітаємо на офіційному сайті закладу, створеному задля забезпечення
        інформативної відкритості та прозорості нашої діяльності
      </p>
    </div>
  </div>
  <div class="img3"></div>
  <p class="footer1">З нетерпінням чекаємо на зустріч із Вами</p>
</div>
