<div class="content">
  <h3>Інформаційна відкритість</h3>
  <hr />
  <div *ngFor="let informationOpen of informationOpens">
    <input
      type="text"
      class="name"
      (change)="onNameChangeEvent($event, informationOpen)"
      [value]="informationOpen.name"
    /><br />
    <input
      type="text"
      (change)="onHrefChangeEvent($event, informationOpen)"
      [value]="informationOpen.href"
    /><br />
    <button class="remove" (click)="remove(informationOpen)">Видалити</button>
    <br />
  </div>
  <br />
  <button class="add" (click)="add()">Додати</button>
</div>
