<div class="content">
  <button class="btn-collective" (click)="toCollective()">
    До усіх працівників
  </button>
  <hr />
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4 order-1 order-sm-2 profile-info">
      <img class="card-img-top" src="{{ employee.fullProfileUrl }}" />
      <div>
        <h5>
          {{ employee.lastName }} {{ employee.firstName }}
          {{ employee.secondName }}
        </h5>
        <p *ngFor="let jobTitle of employee.jobTitles">
          {{ jobTitle.name }}
        </p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-8 order-2 order-sm-1">
      <p *ngFor="let item of contents">{{ item.value }}</p>
    </div>
  </div>
</div>
