<div class="row">
  <div class="col-12 col-md-4">
    <ul class="nav flex-column menu">
      <li
        class="nav-item first-menu-item nav-btn"
        [class.last-menu-item]="!isOpenedMenu"
      >
        <a class="nav-link" (click)="isOpenedMenu = !isOpenedMenu">
          <span *ngIf="isOpenedMenu">Сховати меню</span>
          <span *ngIf="!isOpenedMenu">Розкрити меню</span>
        </a>
      </li>
      <li
        *ngIf="isOpenedMenu"
        class="nav-item menu-item"
        [class.active]="state === aboutState.Collective"
      >
        <a
          class="nav-link"
          [routerLink]="['/about/collective']"
          (click)="ChangeState(aboutState.Collective)"
          >Наш колектив</a
        >
      </li>
      <li
        *ngFor="let menuItem of menu; let i = index"
        class="nav-item menu-item"
        [class.active]="state === menuItem.id"
        [class.last-menu-item]="i == menu.length - 1"
      >
        <a
          class="nav-link"
          [routerLink]="['/about/' + menuItem.id]"
          (click)="ChangeState(menuItem.id)"
        >
          {{ menuItem.name }}
        </a>
      </li>
    </ul>
  </div>
  <div class="col-12 col-md-8">
    <router-outlet></router-outlet>
  </div>
</div>
