<div class="content">
  <h3>Наш колектив</h3>
  <hr />
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-img-top"></div>
        <div class="card-body">
          <h5 class="card-title">Шевченко Анна Матвіївна</h5>
          <p class="card-text">Викладач</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top"></div>
        <div class="card-body">
          <h5 class="card-title">Шевченко Анна Матвіївна</h5>
          <p class="card-text">Викладач</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top"></div>
        <div class="card-body">
          <h5 class="card-title">Шевченко Анна Матвіївна</h5>
          <p class="card-text">Викладач</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top"></div>
        <div class="card-body">
          <h5 class="card-title">Шевченко Анна Матвіївна</h5>
          <p class="card-text">Викладач</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top"></div>
        <div class="card-body">
          <h5 class="card-title">Шевченко Анна Матвіївна</h5>
          <p class="card-text">Викладач</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-img-top"></div>
        <div class="card-body">
          <h5 class="card-title">Шевченко Анна Матвіївна</h5>
          <p class="card-text">Викладач</p>
        </div>
      </div>
    </div>
  </div>
</div>
