.content {
  margin: 20px 0px;
  font-family: "Suplexmentary_Comic_NC";
  color: rgb(111, 2, 158);

  .card {
    margin: 10px 0px;
    border-radius: 20px;

    .card-img-top {
      background: url("../../../assets/images/profile-empty.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;

      height: 200px;
    }
    .card-body {
      text-align: center;
      color: rgb(38, 7, 139);
      text-shadow: rgb(248, 195, 3) 1px 0 10px;
    }

    .profile-1 {
      background: url("../../../assets/images/profile-1.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-2 {
      background: url("../../../assets/images/profile-2.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-3 {
      background: url("../../../assets/images/profile-3.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-4 {
      background: url("../../../assets/images/profile-4.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-5 {
      background: url("../../../assets/images/profile-5.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-6 {
      background: url("../../../assets/images/profile-6.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-7 {
      background: url("../../../assets/images/profile-7.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-8 {
      background: url("../../../assets/images/profile-8.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-9 {
      background: url("../../../assets/images/profile-9.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-10 {
      background: url("../../../assets/images/profile-10.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-11 {
      background: url("../../../assets/images/profile-11.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-12 {
      background: url("../../../assets/images/profile-12.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-13 {
      background: url("../../../assets/images/profile-13.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-14 {
      background: url("../../../assets/images/profile-14.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-15 {
      background: url("../../../assets/images/profile-15.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-16 {
      background: url("../../../assets/images/profile-16.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-17 {
      background: url("../../../assets/images/profile-17.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-18 {
      background: url("../../../assets/images/profile-18.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-19 {
      background: url("../../../assets/images/profile-19.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-20 {
      background: url("../../../assets/images/profile-20.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-21 {
      background: url("../../../assets/images/profile-21.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-22 {
      background: url("../../../assets/images/profile-22.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-23 {
      background: url("../../../assets/images/profile-23.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-24 {
      background: url("../../../assets/images/profile-24.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-25 {
      background: url("../../../assets/images/profile-25.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-26 {
      background: url("../../../assets/images/profile-26.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-27 {
      background: url("../../../assets/images/profile-27.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-28 {
      background: url("../../../assets/images/profile-28.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-29 {
      background: url("../../../assets/images/profile-29.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-30 {
      background: url("../../../assets/images/profile-30.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-31 {
      background: url("../../../assets/images/profile-31.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-32 {
      background: url("../../../assets/images/profile-32.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-33 {
      background: url("../../../assets/images/profile-33.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-34 {
      background: url("../../../assets/images/profile-34.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-35 {
      background: url("../../../assets/images/profile-35.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-36 {
      background: url("../../../assets/images/profile-36.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-37 {
      background: url("../../../assets/images/profile-37.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-38 {
      background: url("../../../assets/images/profile-38.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-39 {
      background: url("../../../assets/images/profile-39.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-40 {
      background: url("../../../assets/images/profile-40.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-41 {
      background: url("../../../assets/images/profile-41.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }

    .profile-42 {
      background: url("../../../assets/images/profile-42.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px 20px 0px 0px;
    }
  }
}
